
body{
	width: 400px;
    margin: 0 auto;
}
.header{
    background: black;
    width: 400px;
    height: 100px;
}
.body{
	background: red;
    width: 400px;
    height: 100px;
}
.footer{
	background: orange;
    width: 400px;
    height: 100px;
}